<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1700,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1700,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1700,1000}</string>
                <key>textureRect</key>
                <string>{{1,1003},{1700,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{991,96}</string>
                <key>spriteSourceSize</key>
                <string>{991,96}</string>
                <key>textureRect</key>
                <string>{{1703,310},{991,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{125,81}</string>
                <key>spriteSourceSize</key>
                <string>{125,91}</string>
                <key>textureRect</key>
                <string>{{1703,1},{125,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,70}</string>
                <key>spriteSourceSize</key>
                <string>{125,90}</string>
                <key>textureRect</key>
                <string>{{1703,166},{125,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{125,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,90}</string>
                <key>textureRect</key>
                <string>{{1703,84},{125,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,70}</string>
                <key>spriteSourceSize</key>
                <string>{125,90}</string>
                <key>textureRect</key>
                <string>{{1703,238},{125,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,572}</string>
                <key>spriteSourceSize</key>
                <string>{73,572}</string>
                <key>textureRect</key>
                <string>{{1703,1303},{73,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flappySprites.png</string>
            <key>size</key>
            <string>{1829,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b4aab1baf7e64aaafcfbc40ac936efa:58fac4b94f9aa476976028065aa66e61:d6fad6590ee54929d372d40ef821be0e$</string>
            <key>textureFileName</key>
            <string>flappySprites.png</string>
        </dict>
    </dict>
</plist>
