<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{169,106}</string>
                <key>spriteSourceSize</key>
                <string>{169,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,88}</string>
                <key>spriteSourceSize</key>
                <string>{169,122}</string>
                <key>textureRect</key>
                <string>{{343,1},{169,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{169,106}</string>
                <key>spriteSourceSize</key>
                <string>{169,122}</string>
                <key>textureRect</key>
                <string>{{172,1},{169,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,88}</string>
                <key>spriteSourceSize</key>
                <string>{169,122}</string>
                <key>textureRect</key>
                <string>{{514,1},{169,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{684,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba24fdadac6cb6d2f560d98d42c3bdfd:f92d23033f35c2e346fdb3d8c08b2b29:c4903a2f537cac14b0fcef7b8429e510$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
