<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1247,733}</string>
                <key>spriteSourceSize</key>
                <string>{1247,733}</string>
                <key>textureRect</key>
                <string>{{1,1},{1247,733}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1247,733}</string>
                <key>spriteSourceSize</key>
                <string>{1247,733}</string>
                <key>textureRect</key>
                <string>{{1,736},{1247,733}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,70}</string>
                <key>spriteSourceSize</key>
                <string>{727,70}</string>
                <key>textureRect</key>
                <string>{{1,1471},{727,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,61}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{1151,1471},{92,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{824,1527},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{730,1527},{92,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{918,1527},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,419}</string>
                <key>spriteSourceSize</key>
                <string>{54,419}</string>
                <key>textureRect</key>
                <string>{{730,1471},{54,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flappySprites.png</string>
            <key>size</key>
            <string>{1249,1588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a2796187feb6e969ab150c5820a2a55:58fac4b94f9aa476976028065aa66e61:d6fad6590ee54929d372d40ef821be0e$</string>
            <key>textureFileName</key>
            <string>flappySprites.png</string>
        </dict>
    </dict>
</plist>
